.nav{
    background-color: #F5D5AE;
    height: 100px;
    text-align: center;
    padding-top: 20px;
}
.mailpic{
    height: 50px;
    width: 50px;
}
.me{
    background-color: #EF9A53;
    height:420px;
    margin-left: -10px;
    padding-left: 10px;
}
.about-me{
    height: 330px;
    width: 600px;
    display: inline-grid;
    padding-top: 20px;
    margin-top: 20px;
    margin-left: 50px;
    position: relative;
    bottom: 200px;
}
.me-img{
    height: 330px;
    width:330px;
    display: inline-block;
    margin-top: 0px;
    border-radius:100px;
}
body{
    background-color: #F5D5AE;
    font-family: 'Noto Sans Mono', monospace;
}
.do{
    background-color: #C539B4;
    height: 600px;
    
    margin-left: -10px;
    padding-left: 100px;
    margin-top: -25px;
    padding-top: 20px;

    
}